<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
	body {
		background-color: #f0f0ff;
		font-family: "DejaVu Sans", Arial, Sans;
	}
	h1 {
		color: #0a0;
		font-size: 1.8em;
	}
	h2 {
		color: #33a;
		padding-top: 1em;
		font-size: 1em;
		width: 17.4em;
		text-align:center
	}
	div#layouts{
		position: absolute;
		top: 200px;
		left: 10px;
	}
	div.layout {
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 2px;
		margin: 10px 0;
		overflow:visible;
		width: 18.6em;
		-moz-border-radius: 0.4em;
		border-radius: 0.4em;
	}
	table.onerow,
	table.onerow tr,
	table.onerow td {
		margin: 0 0;
		padding: 0 0;
		overflow: hidden;
	}
	table.onerow {
		margin: -1px 0;
	}
	.button {
		width: 1em;
		height: 1em;
		text-align: center;
		margin: 0.05em;
		border: 1px solid #ccc;
		overflow: hidden;
		-moz-border-radius: 0.3em;
		border-radius: 0.3em;
	}
	.button div {
		overflow: hidden;
		width: 100%;
		height: 100%;
		font-size: 0.9em;
	}
	.special div {
		color: #f00;
		font-size: 0.7em;
	}
	.modifier div {
		color: #00f;
		font-size: 0.7em;
	}
	.deadkey { background-color: #f99; }
	.deadkey div { font-size: 1em; }
	.finger0 { background-color: #fff; }
	.finger1 { background-color: #ffc; }
	.finger2 { background-color: #ddf; }
	.finger3 { background-color: #cfc; }
	.finger4 { background-color: #fda; }
	.finger5 { background-color: #fcd; }
	.finger6 { background-color: #cfc; }
	.finger7 { background-color: #ddf; }
	.finger8 { background-color: #ffc; }
	.finger9 { background-color: #cfc; }
	.pressed { background-color: #030; }
	.pressed div { color: #ffc; }
	.button span.special {
		font-size:1.5em;
		display: block;
		margin-top: -0.2em;
	}
</style>
</head>
<body>

<p>
	<h2>Extend QWERTY keyboard layout</h2>
	<table>
		<tr><td>Version</td><td>1.0</td></tr>
		<tr><td>Website</td><td><a href="http://pkl.sourceforge.net/">http://pkl.sourceforge.net/</a></td></tr>
		<tr><td>Copyright</td><td>Public Domain</td></tr>
		<tr><td>Company</td><td>none</td></tr>
	</table>
</p>

<div id="layouts">
<div class="layout">
<table class="onerow"><tr>

<td class="button  special finger8" style="" title="OEM_3"><div>OEM_3</div></td>
<td class="button  special finger8" style="" title="1"><div>1</div></td>
<td class="button  special finger8" style="" title="2"><div>2</div></td>
<td class="button  special finger8" style="" title="3"><div>3</div></td>
<td class="button  special finger8" style="" title="4"><div>4</div></td>
<td class="button  special finger8" style="" title="5"><div>5</div></td>
<td class="button  special finger8" style="" title="6"><div>6</div></td>
<td class="button  special finger8" style="" title="7"><div>7</div></td>
<td class="button  special finger8" style="" title="8"><div>8</div></td>
<td class="button  special finger8" style="" title="9"><div>9</div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  special finger8" style="" title="OEM_MINUS"><div>OEM_MINUS</div></td>
<td class="button  special finger8" style="" title="OEM_PLUS"><div>OEM_PLUS</div></td>
<td class="button  special finger8" style="width: 2em;" title="Backspace"><div><span class="special">←</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger8" style="width: 1.5em;" title="Tab"><div><span class="special">↹</span></div></td>
<td class="button  special finger8" style="" title="Q"><div>Q</div></td>
<td class="button  special finger8" style="" title="W"><div>W</div></td>
<td class="button  special finger8" style="" title="E"><div>E</div></td>
<td class="button  special finger8" style="" title="R"><div>R</div></td>
<td class="button  special finger8" style="" title="T"><div>T</div></td>
<td class="button  special finger8" style="" title="Y"><div>Y</div></td>
<td class="button  special finger8" style="" title="U"><div>U</div></td>
<td class="button  special finger8" style="" title="I"><div>I</div></td>
<td class="button  special finger8" style="" title="O"><div>O</div></td>
<td class="button  special finger8" style="" title="P"><div>P</div></td>
<td class="button  special finger8" style="" title="OEM_4"><div>OEM_4</div></td>
<td class="button  special finger8" style="" title="OEM_6"><div>OEM_6</div></td>
<td class="button  special finger8" style="width: 1.5em;" title="OEM_5"><div>OEM_5</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger8" style="width: 1.9em;" title="Capslock"><div><span class="special">⇪</span></div></td>
<td class="button  special finger8" style="" title="A"><div>A</div></td>
<td class="button  special finger8" style="" title="S"><div>S</div></td>
<td class="button  special finger8" style="" title="D"><div>D</div></td>
<td class="button  special finger8" style="" title="F"><div>F</div></td>
<td class="button  special finger8" style="" title="G"><div>G</div></td>
<td class="button  special finger8" style="" title="H"><div>H</div></td>
<td class="button  special finger8" style="" title="J"><div>J</div></td>
<td class="button  special finger8" style="" title="K"><div>K</div></td>
<td class="button  special finger8" style="" title="L"><div>L</div></td>
<td class="button  special finger8" style="" title="OEM_1"><div>OEM_1</div></td>
<td class="button  special finger8" style="" title="OEM_7"><div>OEM_7</div></td>
<td class="button  special finger8" style="width: 2.4em;" title="Enter"><div><span class="special">↵</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div><span class="special">⇧</span></div></td>
<td class="button  special finger8" style="" title="OEM_102"><div>OEM_102</div></td>
<td class="button  special finger8" style="" title="Z"><div>Z</div></td>
<td class="button  special finger8" style="" title="X"><div>X</div></td>
<td class="button  special finger8" style="" title="C"><div>C</div></td>
<td class="button  special finger8" style="" title="V"><div>V</div></td>
<td class="button  special finger8" style="" title="B"><div>B</div></td>
<td class="button  special finger8" style="" title="N"><div>N</div></td>
<td class="button  special finger8" style="" title="M"><div>M</div></td>
<td class="button  special finger8" style="" title="OEM_COMMA"><div>OEM_COMMA</div></td>
<td class="button  special finger8" style="" title="OEM_PERIOD"><div>OEM_PERIOD</div></td>
<td class="button  special finger8" style="" title="OEM_2"><div>OEM_2</div></td>
<td class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCt</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LW</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></td>
<td class="button  special finger9" style="width: 7.75em;" title="SPACE"><div>SPACE</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="AltGr"><div>AGr</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RW</div></td>
<td class="button  special finger8" style="width: 1.25em;" title="DECIMAL"><div>DECIMAL</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCt</div></td>
</tr></table>
</div>
<div class="layout">
<table class="onerow"><tr>

<td class="button  special finger8" style="" title="OEM_3"><div>OEM_3</div></td>
<td class="button  special finger8" style="" title="1"><div>1</div></td>
<td class="button  special finger8" style="" title="2"><div>2</div></td>
<td class="button  special finger8" style="" title="3"><div>3</div></td>
<td class="button  special finger8" style="" title="4"><div>4</div></td>
<td class="button  special finger8" style="" title="5"><div>5</div></td>
<td class="button  special finger8" style="" title="6"><div>6</div></td>
<td class="button  special finger8" style="" title="7"><div>7</div></td>
<td class="button  special finger8" style="" title="8"><div>8</div></td>
<td class="button  special finger8" style="" title="9"><div>9</div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  special finger8" style="" title="OEM_MINUS"><div>OEM_MINUS</div></td>
<td class="button  special finger8" style="" title="OEM_PLUS"><div>OEM_PLUS</div></td>
<td class="button  special finger8" style="width: 2em;" title="Backspace"><div><span class="special">←</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger8" style="width: 1.5em;" title="Tab"><div><span class="special">↹</span></div></td>
<td class="button  special finger8" style="" title="Q"><div>Q</div></td>
<td class="button  special finger8" style="" title="W"><div>W</div></td>
<td class="button  special finger8" style="" title="E"><div>E</div></td>
<td class="button  special finger8" style="" title="R"><div>R</div></td>
<td class="button  special finger8" style="" title="T"><div>T</div></td>
<td class="button  special finger8" style="" title="Y"><div>Y</div></td>
<td class="button  special finger8" style="" title="U"><div>U</div></td>
<td class="button  special finger8" style="" title="I"><div>I</div></td>
<td class="button  special finger8" style="" title="O"><div>O</div></td>
<td class="button  special finger8" style="" title="P"><div>P</div></td>
<td class="button  special finger8" style="" title="OEM_4"><div>OEM_4</div></td>
<td class="button  special finger8" style="" title="OEM_6"><div>OEM_6</div></td>
<td class="button  special finger8" style="width: 1.5em;" title="OEM_5"><div>OEM_5</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger8" style="width: 1.9em;" title="Capslock"><div><span class="special">⇪</span></div></td>
<td class="button  special finger8" style="" title="A"><div>A</div></td>
<td class="button  special finger8" style="" title="S"><div>S</div></td>
<td class="button  special finger8" style="" title="D"><div>D</div></td>
<td class="button  special finger8" style="" title="F"><div>F</div></td>
<td class="button  special finger8" style="" title="G"><div>G</div></td>
<td class="button  special finger8" style="" title="H"><div>H</div></td>
<td class="button  special finger8" style="" title="J"><div>J</div></td>
<td class="button  special finger8" style="" title="K"><div>K</div></td>
<td class="button  special finger8" style="" title="L"><div>L</div></td>
<td class="button  special finger8" style="" title="OEM_1"><div>OEM_1</div></td>
<td class="button  special finger8" style="" title="OEM_7"><div>OEM_7</div></td>
<td class="button  special finger8" style="width: 2.4em;" title="Enter"><div><span class="special">↵</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier pressed" style="width: 1.25em;" title="LShift"><div><span class="special">⇧</span></div></td>
<td class="button  special finger8" style="" title="OEM_102"><div>OEM_102</div></td>
<td class="button  special finger8" style="" title="Z"><div>Z</div></td>
<td class="button  special finger8" style="" title="X"><div>X</div></td>
<td class="button  special finger8" style="" title="C"><div>C</div></td>
<td class="button  special finger8" style="" title="V"><div>V</div></td>
<td class="button  special finger8" style="" title="B"><div>B</div></td>
<td class="button  special finger8" style="" title="N"><div>N</div></td>
<td class="button  special finger8" style="" title="M"><div>M</div></td>
<td class="button  special finger8" style="" title="OEM_COMMA"><div>OEM_COMMA</div></td>
<td class="button  special finger8" style="" title="OEM_PERIOD"><div>OEM_PERIOD</div></td>
<td class="button  special finger8" style="" title="OEM_2"><div>OEM_2</div></td>
<td class="button  modifier pressed" style="width: 3em;" title="RShift"><div>RShift</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCt</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LW</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></td>
<td class="button  special finger9" style="width: 7.75em;" title="SPACE"><div>SPACE</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="AltGr"><div>AGr</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RW</div></td>
<td class="button  special finger8" style="width: 1.25em;" title="DECIMAL"><div>DECIMAL</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCt</div></td>
</tr></table>
</div>
<div class="layout">
<table class="onerow"><tr>

<td class="button  special finger8" style="" title="OEM_3"><div>OEM_3</div></td>
<td class="button  special finger8" style="" title="1"><div>1</div></td>
<td class="button  special finger8" style="" title="2"><div>2</div></td>
<td class="button  special finger8" style="" title="3"><div>3</div></td>
<td class="button  special finger8" style="" title="4"><div>4</div></td>
<td class="button  special finger8" style="" title="5"><div>5</div></td>
<td class="button  special finger8" style="" title="6"><div>6</div></td>
<td class="button  special finger8" style="" title="7"><div>7</div></td>
<td class="button  special finger8" style="" title="8"><div>8</div></td>
<td class="button  special finger8" style="" title="9"><div>9</div></td>
<td class="button  special finger8" style="" title=""><div></div></td>
<td class="button  special finger8" style="" title="OEM_MINUS"><div>OEM_MINUS</div></td>
<td class="button  special finger8" style="" title="OEM_PLUS"><div>OEM_PLUS</div></td>
<td class="button  special finger8" style="width: 2em;" title="Backspace"><div><span class="special">←</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger8" style="width: 1.5em;" title="Tab"><div><span class="special">↹</span></div></td>
<td class="button  special finger8" style="" title="Q"><div>Q</div></td>
<td class="button  special finger8" style="" title="W"><div>W</div></td>
<td class="button  special finger8" style="" title="E"><div>E</div></td>
<td class="button  special finger8" style="" title="R"><div>R</div></td>
<td class="button  special finger8" style="" title="T"><div>T</div></td>
<td class="button  special finger8" style="" title="Y"><div>Y</div></td>
<td class="button  special finger8" style="" title="U"><div>U</div></td>
<td class="button  special finger8" style="" title="I"><div>I</div></td>
<td class="button  special finger8" style="" title="O"><div>O</div></td>
<td class="button  special finger8" style="" title="P"><div>P</div></td>
<td class="button  special finger8" style="" title="OEM_4"><div>OEM_4</div></td>
<td class="button  special finger8" style="" title="OEM_6"><div>OEM_6</div></td>
<td class="button  special finger8" style="width: 1.5em;" title="OEM_5"><div>OEM_5</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger8" style="width: 1.9em;" title="Capslock"><div><span class="special">⇪</span></div></td>
<td class="button  special finger8" style="" title="A"><div>A</div></td>
<td class="button  special finger8" style="" title="S"><div>S</div></td>
<td class="button  special finger8" style="" title="D"><div>D</div></td>
<td class="button  special finger8" style="" title="F"><div>F</div></td>
<td class="button  special finger8" style="" title="G"><div>G</div></td>
<td class="button  special finger8" style="" title="H"><div>H</div></td>
<td class="button  special finger8" style="" title="J"><div>J</div></td>
<td class="button  special finger8" style="" title="K"><div>K</div></td>
<td class="button  special finger8" style="" title="L"><div>L</div></td>
<td class="button  special finger8" style="" title="OEM_1"><div>OEM_1</div></td>
<td class="button  special finger8" style="" title="OEM_7"><div>OEM_7</div></td>
<td class="button  special finger8" style="width: 2.4em;" title="Enter"><div><span class="special">↵</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div><span class="special">⇧</span></div></td>
<td class="button  special finger8" style="" title="OEM_102"><div>OEM_102</div></td>
<td class="button  special finger8" style="" title="Z"><div>Z</div></td>
<td class="button  special finger8" style="" title="X"><div>X</div></td>
<td class="button  special finger8" style="" title="C"><div>C</div></td>
<td class="button  special finger8" style="" title="V"><div>V</div></td>
<td class="button  special finger8" style="" title="B"><div>B</div></td>
<td class="button  special finger8" style="" title="N"><div>N</div></td>
<td class="button  special finger8" style="" title="M"><div>M</div></td>
<td class="button  special finger8" style="" title="OEM_COMMA"><div>OEM_COMMA</div></td>
<td class="button  special finger8" style="" title="OEM_PERIOD"><div>OEM_PERIOD</div></td>
<td class="button  special finger8" style="" title="OEM_2"><div>OEM_2</div></td>
<td class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCt</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LW</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></td>
<td class="button  special finger9" style="width: 7.75em;" title="SPACE"><div>SPACE</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="AltGr"><div>AGr</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RW</div></td>
<td class="button  special finger8" style="width: 1.25em;" title="DECIMAL"><div>DECIMAL</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCt</div></td>
</tr></table>
</div>
<p>© <a href="http://pkl.sourceforge.net/">pkl.sourceforge.net</a></p>
</div>

</body>
</html>
