<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
	body {
		background-color: #f0f0ff;
		font-family: "DejaVu Sans", Arial, Sans;
	}
	h1 {
		color: #0a0;
		font-size: 1.8em;
	}
	h2 {
		color: #33a;
		padding-top: 1em;
		font-size: 1em;
		width: 17.4em;
		text-align:center
	}
	div#layouts{
		position: absolute;
		top: 200px;
		left: 10px;
	}
	div.layout {
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 2px;
		margin: 10px 0;
		overflow:visible;
		width: 18.6em;
		-moz-border-radius: 0.4em;
		border-radius: 0.4em;
	}
	table.onerow,
	table.onerow tr,
	table.onerow td {
		margin: 0 0;
		padding: 0 0;
		overflow: hidden;
	}
	table.onerow {
		margin: -1px 0;
	}
	.button {
		width: 1em;
		height: 1em;
		text-align: center;
		margin: 0.05em;
		border: 1px solid #ccc;
		overflow: hidden;
		-moz-border-radius: 0.3em;
		border-radius: 0.3em;
	}
	.button div {
		overflow: hidden;
		width: 100%;
		height: 100%;
		font-size: 0.9em;
	}
	.special div {
		color: #f00;
		font-size: 0.7em;
	}
	.modifier div {
		color: #00f;
		font-size: 0.7em;
	}
	.deadkey { background-color: #f99; }
	.deadkey div { font-size: 1.1em; }
	.finger0 { background-color: #fff; }
	.finger1 { background-color: #ffc; }
	.finger2 { background-color: #ddf; }
	.finger3 { background-color: #cfc; }
	.finger4 { background-color: #fda; }
	.finger5 { background-color: #fcd; }
	.finger6 { background-color: #cfc; }
	.finger7 { background-color: #ddf; }
	.finger8 { background-color: #ffc; }
	.finger9 { background-color: #cfc; }
	.pressed { background-color: #030; }
	.pressed div { color: #ffc; }
	.button span.special {
		font-size:1.5em;
		display: block;
		margin-top: -0.2em;
	}
</style>
</head>
<body>

<p>
	<h2>Ukrainian (Ukraina) keyboard layout</h2>
	<table>
		<tr><td>Version</td><td>1.0</td></tr>
		<tr><td>Website</td><td><a href="http://pkl.sourceforge.net/">http://pkl.sourceforge.net/</a></td></tr>
		<tr><td>Copyright</td><td>(c) 2008 Company</td></tr>
		<tr><td>Company</td><td>Company</td></tr>
	</table>
</p>

<div id="layouts">
<div class="layout">
<table class="onerow"><tr>

<td class="button  finger1" style="" title="'"><div>'</div></td>
<td class="button  finger1" style="" title="1"><div>1</div></td>
<td class="button  finger2" style="" title="2"><div>2</div></td>
<td class="button  finger3" style="" title="3"><div>3</div></td>
<td class="button  finger4" style="" title="4"><div>4</div></td>
<td class="button  finger4" style="" title="5"><div>5</div></td>
<td class="button  finger5" style="" title="6"><div>6</div></td>
<td class="button  finger5" style="" title="7"><div>7</div></td>
<td class="button  finger6" style="" title="8"><div>8</div></td>
<td class="button  finger7" style="" title="9"><div>9</div></td>
<td class="button  finger8" style="" title="0"><div>0</div></td>
<td class="button  finger8" style="" title="-"><div>-</div></td>
<td class="button  finger8" style="" title="="><div>=</div></td>
<td class="button  special finger8" style="width: 2em;" title="Backspace"><div><span class="special">←</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.5em;" title="Tab"><div><span class="special">↹</span></div></td>
<td class="button  finger1" style="" title="й"><div>й</div></td>
<td class="button  finger2" style="" title="ц"><div>ц</div></td>
<td class="button  finger3" style="" title="у"><div>у</div></td>
<td class="button  finger4" style="" title="к"><div>к</div></td>
<td class="button  finger4" style="" title="е"><div>е</div></td>
<td class="button  finger5" style="" title="н"><div>н</div></td>
<td class="button  finger5" style="" title="г"><div>г</div></td>
<td class="button  finger6" style="" title="ш"><div>ш</div></td>
<td class="button  finger7" style="" title="щ"><div>щ</div></td>
<td class="button  finger8" style="" title="з"><div>з</div></td>
<td class="button  finger8" style="" title="х"><div>х</div></td>
<td class="button  finger8" style="" title="ї"><div>ї</div></td>
<td class="button  finger8" style="width: 1.5em;" title="\"><div>\</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.9em;" title="Capslock"><div><span class="special">⇪</span></div></td>
<td class="button  finger1" style="" title="ф"><div>ф</div></td>
<td class="button  finger2" style="" title="і"><div>і</div></td>
<td class="button  finger3" style="" title="в"><div>в</div></td>
<td class="button  finger4" style="" title="а"><div>а</div></td>
<td class="button  finger4" style="" title="п"><div>п</div></td>
<td class="button  finger5" style="" title="р"><div>р</div></td>
<td class="button  finger5" style="" title="о"><div>о</div></td>
<td class="button  finger6" style="" title="л"><div>л</div></td>
<td class="button  finger7" style="" title="д"><div>д</div></td>
<td class="button  finger8" style="" title="ж"><div>ж</div></td>
<td class="button  finger8" style="" title="є"><div>є</div></td>
<td class="button  special finger8" style="width: 2.4em;" title="Enter"><div><span class="special">↵</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div><span class="special">⇧</span></div></td>
<td class="button  finger1" style="" title="ґ"><div>ґ</div></td>
<td class="button  finger1" style="" title="я"><div>я</div></td>
<td class="button  finger2" style="" title="ч"><div>ч</div></td>
<td class="button  finger3" style="" title="с"><div>с</div></td>
<td class="button  finger4" style="" title="м"><div>м</div></td>
<td class="button  finger4" style="" title="и"><div>и</div></td>
<td class="button  finger5" style="" title="т"><div>т</div></td>
<td class="button  finger5" style="" title="ь"><div>ь</div></td>
<td class="button  finger6" style="" title="б"><div>б</div></td>
<td class="button  finger7" style="" title="ю"><div>ю</div></td>
<td class="button  finger8" style="" title="."><div>.</div></td>
<td class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCt</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LW</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></td>
<td class="button  special finger9" style="width: 7.75em;" title="Space"><div>Space</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="AltGr"><div>AGr</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RW</div></td>
<td class="button  finger8" style="width: 1.25em;" title=","><div>,</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCt</div></td>
</tr></table>
</div>
<div class="layout">
<table class="onerow"><tr>

<td class="button  finger1" style="" title="₴"><div>₴</div></td>
<td class="button  finger1" style="" title="!"><div>!</div></td>
<td class="button  finger2" style="" title="""><div>"</div></td>
<td class="button  finger3" style="" title="№"><div>№</div></td>
<td class="button  finger4" style="" title=";"><div>;</div></td>
<td class="button  finger4" style="" title="%"><div>%</div></td>
<td class="button  finger5" style="" title=":"><div>:</div></td>
<td class="button  finger5" style="" title="?"><div>?</div></td>
<td class="button  finger6" style="" title="*"><div>*</div></td>
<td class="button  finger7" style="" title="("><div>(</div></td>
<td class="button  finger8" style="" title=")"><div>)</div></td>
<td class="button  finger8" style="" title="_"><div>_</div></td>
<td class="button  finger8" style="" title="+"><div>+</div></td>
<td class="button  special finger8" style="width: 2em;" title="Backspace"><div><span class="special">←</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.5em;" title="Tab"><div><span class="special">↹</span></div></td>
<td class="button  finger1" style="" title="Й"><div>Й</div></td>
<td class="button  finger2" style="" title="Ц"><div>Ц</div></td>
<td class="button  finger3" style="" title="У"><div>У</div></td>
<td class="button  finger4" style="" title="К"><div>К</div></td>
<td class="button  finger4" style="" title="Е"><div>Е</div></td>
<td class="button  finger5" style="" title="Н"><div>Н</div></td>
<td class="button  finger5" style="" title="Г"><div>Г</div></td>
<td class="button  finger6" style="" title="Ш"><div>Ш</div></td>
<td class="button  finger7" style="" title="Щ"><div>Щ</div></td>
<td class="button  finger8" style="" title="З"><div>З</div></td>
<td class="button  finger8" style="" title="Х"><div>Х</div></td>
<td class="button  finger8" style="" title="Ї"><div>Ї</div></td>
<td class="button  finger8" style="width: 1.5em;" title="/"><div>/</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.9em;" title="Capslock"><div><span class="special">⇪</span></div></td>
<td class="button  finger1" style="" title="Ф"><div>Ф</div></td>
<td class="button  finger2" style="" title="І"><div>І</div></td>
<td class="button  finger3" style="" title="В"><div>В</div></td>
<td class="button  finger4" style="" title="А"><div>А</div></td>
<td class="button  finger4" style="" title="П"><div>П</div></td>
<td class="button  finger5" style="" title="Р"><div>Р</div></td>
<td class="button  finger5" style="" title="О"><div>О</div></td>
<td class="button  finger6" style="" title="Л"><div>Л</div></td>
<td class="button  finger7" style="" title="Д"><div>Д</div></td>
<td class="button  finger8" style="" title="Ж"><div>Ж</div></td>
<td class="button  finger8" style="" title="Є"><div>Є</div></td>
<td class="button  special finger8" style="width: 2.4em;" title="Enter"><div><span class="special">↵</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier pressed" style="width: 1.25em;" title="LShift"><div><span class="special">⇧</span></div></td>
<td class="button  finger1" style="" title="Ґ"><div>Ґ</div></td>
<td class="button  finger1" style="" title="Я"><div>Я</div></td>
<td class="button  finger2" style="" title="Ч"><div>Ч</div></td>
<td class="button  finger3" style="" title="С"><div>С</div></td>
<td class="button  finger4" style="" title="М"><div>М</div></td>
<td class="button  finger4" style="" title="И"><div>И</div></td>
<td class="button  finger5" style="" title="Т"><div>Т</div></td>
<td class="button  finger5" style="" title="Ь"><div>Ь</div></td>
<td class="button  finger6" style="" title="Б"><div>Б</div></td>
<td class="button  finger7" style="" title="Ю"><div>Ю</div></td>
<td class="button  finger8" style="" title=","><div>,</div></td>
<td class="button  modifier pressed" style="width: 3em;" title="RShift"><div>RShift</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCt</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LW</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></td>
<td class="button  special finger9" style="width: 7.75em;" title="Space"><div>Space</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="AltGr"><div>AGr</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RW</div></td>
<td class="button  finger8" style="width: 1.25em;" title=","><div>,</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCt</div></td>
</tr></table>
</div>
<div class="layout">
<table class="onerow"><tr>

<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  special finger8" style="width: 2em;" title="Backspace"><div><span class="special">←</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.5em;" title="Tab"><div><span class="special">↹</span></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title="ґ"><div>ґ</div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="width: 1.5em;" title=""><div></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.9em;" title="Capslock"><div><span class="special">⇪</span></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  special finger8" style="width: 2.4em;" title="Enter"><div><span class="special">↵</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div><span class="special">⇧</span></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCt</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LW</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></td>
<td class="button  finger9" style="width: 7.75em;" title=""><div></div></td>
<td class="button  modifier pressed" style="width: 1.25em;" title="AltGr"><div>AGr</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RW</div></td>
<td class="button  finger8" style="width: 1.25em;" title=""><div></div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCt</div></td>
</tr></table>
</div>
<div class="layout">
<table class="onerow"><tr>

<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  special finger8" style="width: 2em;" title="Backspace"><div><span class="special">←</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.5em;" title="Tab"><div><span class="special">↹</span></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title="Ґ"><div>Ґ</div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="width: 1.5em;" title=""><div></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  special finger1" style="width: 1.9em;" title="Capslock"><div><span class="special">⇪</span></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  special finger8" style="width: 2.4em;" title="Enter"><div><span class="special">↵</span></div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier pressed" style="width: 1.25em;" title="LShift"><div><span class="special">⇧</span></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger1" style="" title=""><div></div></td>
<td class="button  finger2" style="" title=""><div></div></td>
<td class="button  finger3" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger4" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger5" style="" title=""><div></div></td>
<td class="button  finger6" style="" title=""><div></div></td>
<td class="button  finger7" style="" title=""><div></div></td>
<td class="button  finger8" style="" title=""><div></div></td>
<td class="button  modifier pressed" style="width: 3em;" title="RShift"><div>RShift</div></td>
</tr></table>
<table class="onerow"><tr>

<td class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCt</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LW</div></td>
<td class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></td>
<td class="button  finger9" style="width: 7.75em;" title=""><div></div></td>
<td class="button  modifier pressed" style="width: 1.25em;" title="AltGr"><div>AGr</div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RW</div></td>
<td class="button  finger8" style="width: 1.25em;" title=""><div></div></td>
<td class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCt</div></td>
</tr></table>
</div>
<p>© <a href="http://pkl.sourceforge.net/">pkl.sourceforge.net</a></p>
</div>

</body>
</html>
