<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
	body {
		background-color: #fff;
	}
	h1 {
		color: #0a0;
		font-size: 1.8em;
	}
	h2 {
		color: #33a;
		padding-top: 1em;
		font-size: 1em;
		width: 17.4em;
		text-align:center
	}
	.keyboard {
		width: 20em;
		height: 5.6em;
		border: 0.1em solid #fff;
		background-color: #fff;
		-moz-border-radius: 0.5em;
		padding: 0.3em;
		overflow:visible;
	}
	.button {
		width: 1em;
		height: 1em;
		float: left;
		text-align: center;
		margin: 0.05em;
		border: 1px solid #ccc;
		overflow: hidden;
		-moz-border-radius: 0.4em;
	}
	.button div {
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 0.9em;
		margin: 0 auto;
		margin-top: -0.07em;
	}
	.newRow {
		position: relative;
		float: right;
		clear: both;
	}
	.special div {
		color: #f00;
		font-size: 0.7em;
	}
	.modifier div {
		color: #00f;
		font-size: 0.7em;
	}
	.deadkey { background-color: #f99; }
	.deadkey div { font-size: 1.2em; }
	.finger0 { background-color: #fff; }
	.finger1 { background-color: #ffc; }
	.finger2 { background-color: #ddf; }
	.finger3 { background-color: #cfc; }
	.finger4 { background-color: #fda; }
	.finger5 { background-color: #fcd; }
	.finger6 { background-color: #cfc; }
	.finger7 { background-color: #ddf; }
	.finger8 { background-color: #ffc; }
	.finger9 { background-color: #0f0; }
</style>
</head>
<body>

<p>
	<h2>Colemak keyboard layout</h2>
	<table>
		<tr><td>Version</td><td>1.0</td></tr>
		<tr><td>Website</td><td><a href="http://colemak.com/">http://colemak.com/</a></td></tr>
		<tr><td>Copyright</td><td>Public Domain</td></tr>
		<tr><td>Company</td><td>2006-01-01 Shai Coleman</td></tr>
	</table>
</p>


<div><div style="float: left; clear: left;">&nbsp;</div>
<div style="float: left; clear: left;">&nbsp;</div>

<div class="button  finger1" style="" title="`"><div>`</div></div>
<div class="button  finger1" style="" title="1"><div>1</div></div>
<div class="button  finger2" style="" title="2"><div>2</div></div>
<div class="button  finger3" style="" title="3"><div>3</div></div>
<div class="button  finger4" style="" title="4"><div>4</div></div>
<div class="button  finger4" style="" title="5"><div>5</div></div>
<div class="button  finger5" style="" title="6"><div>6</div></div>
<div class="button  finger5" style="" title="7"><div>7</div></div>
<div class="button  finger6" style="" title="8"><div>8</div></div>
<div class="button  finger7" style="" title="9"><div>9</div></div>
<div class="button  finger8" style="" title="0"><div>0</div></div>
<div class="button  finger8" style="" title="-"><div>-</div></div>
<div class="button  finger8" style="" title="="><div>=</div></div>
<div class="button  special finger8" style="width: 2em;" title="BackSpace"><div>BackSpace</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.5em;" title="Tab"><div>Tab</div></div>
<div class="button  finger1" style="" title="q"><div>q</div></div>
<div class="button  finger2" style="" title="w"><div>w</div></div>
<div class="button  finger3" style="" title="f"><div>f</div></div>
<div class="button  finger4" style="" title="p"><div>p</div></div>
<div class="button  finger4" style="" title="g"><div>g</div></div>
<div class="button  finger5" style="" title="j"><div>j</div></div>
<div class="button  finger5" style="" title="l"><div>l</div></div>
<div class="button  finger6" style="" title="u"><div>u</div></div>
<div class="button  finger7" style="" title="y"><div>y</div></div>
<div class="button  finger8" style="" title=";"><div>;</div></div>
<div class="button  finger8" style="" title="["><div>[</div></div>
<div class="button  finger8" style="" title="]"><div>]</div></div>
<div class="button  finger8" style="width: 1.5em;" title="\"><div>\</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.9em;" title="backspace"><div>backspace</div></div>
<div class="button  finger1" style="" title="a"><div>a</div></div>
<div class="button  finger2" style="" title="r"><div>r</div></div>
<div class="button  finger3" style="" title="s"><div>s</div></div>
<div class="button  finger4" style="" title="t"><div>t</div></div>
<div class="button  finger4" style="" title="d"><div>d</div></div>
<div class="button  finger5" style="" title="h"><div>h</div></div>
<div class="button  finger5" style="" title="n"><div>n</div></div>
<div class="button  finger6" style="" title="e"><div>e</div></div>
<div class="button  finger7" style="" title="i"><div>i</div></div>
<div class="button  finger8" style="" title="o"><div>o</div></div>
<div class="button  finger8" style="" title="'"><div>'</div></div>
<div class="button  special finger8" style="width: 2.35em;" title="Enter"><div>Enter</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div>LShift</div></div>
<div class="button  finger1" style="" title="-"><div>-</div></div>
<div class="button  finger1" style="" title="z"><div>z</div></div>
<div class="button  finger2" style="" title="x"><div>x</div></div>
<div class="button  finger3" style="" title="c"><div>c</div></div>
<div class="button  finger4" style="" title="v"><div>v</div></div>
<div class="button  finger4" style="" title="b"><div>b</div></div>
<div class="button  finger5" style="" title="k"><div>k</div></div>
<div class="button  finger5" style="" title="m"><div>m</div></div>
<div class="button  finger6" style="" title=","><div>,</div></div>
<div class="button  finger7" style="" title="."><div>.</div></div>
<div class="button  finger8" style="" title="/"><div>/</div></div>
<div class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCtrl</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LWin</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></div>
<div class="button  special finger9" style="width: 7.6em;" title="space"><div>space</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RAlt"><div>RAlt</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RWin</div></div>
<div class="button  finger8" style="width: 1.25em;" title="."><div>.</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCtrl</div></div></div>

<div><div style="float: left; clear: left;">&nbsp;</div>
<div style="float: left; clear: left;">&nbsp;</div>

<div class="button  finger1" style="" title="~"><div>~</div></div>
<div class="button  finger1" style="" title="!"><div>!</div></div>
<div class="button  finger2" style="" title="@"><div>@</div></div>
<div class="button  finger3" style="" title="#"><div>#</div></div>
<div class="button  finger4" style="" title="$"><div>$</div></div>
<div class="button  finger4" style="" title="%"><div>%</div></div>
<div class="button  finger5" style="" title="^"><div>^</div></div>
<div class="button  finger5" style="" title="&amp;"><div>&amp;</div></div>
<div class="button  finger6" style="" title="*"><div>*</div></div>
<div class="button  finger7" style="" title="("><div>(</div></div>
<div class="button  finger8" style="" title=")"><div>)</div></div>
<div class="button  finger8" style="" title="_"><div>_</div></div>
<div class="button  finger8" style="" title="+"><div>+</div></div>
<div class="button  special finger8" style="width: 2em;" title="BackSpace"><div>BackSpace</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.5em;" title="Tab"><div>Tab</div></div>
<div class="button  finger1" style="" title="Q"><div>Q</div></div>
<div class="button  finger2" style="" title="W"><div>W</div></div>
<div class="button  finger3" style="" title="F"><div>F</div></div>
<div class="button  finger4" style="" title="P"><div>P</div></div>
<div class="button  finger4" style="" title="G"><div>G</div></div>
<div class="button  finger5" style="" title="J"><div>J</div></div>
<div class="button  finger5" style="" title="L"><div>L</div></div>
<div class="button  finger6" style="" title="U"><div>U</div></div>
<div class="button  finger7" style="" title="Y"><div>Y</div></div>
<div class="button  finger8" style="" title=":"><div>:</div></div>
<div class="button  finger8" style="" title="{"><div>{</div></div>
<div class="button  finger8" style="" title="}"><div>}</div></div>
<div class="button  finger8" style="width: 1.5em;" title="|"><div>|</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.9em;" title="backspace"><div>backspace</div></div>
<div class="button  finger1" style="" title="A"><div>A</div></div>
<div class="button  finger2" style="" title="R"><div>R</div></div>
<div class="button  finger3" style="" title="S"><div>S</div></div>
<div class="button  finger4" style="" title="T"><div>T</div></div>
<div class="button  finger4" style="" title="D"><div>D</div></div>
<div class="button  finger5" style="" title="H"><div>H</div></div>
<div class="button  finger5" style="" title="N"><div>N</div></div>
<div class="button  finger6" style="" title="E"><div>E</div></div>
<div class="button  finger7" style="" title="I"><div>I</div></div>
<div class="button  finger8" style="" title="O"><div>O</div></div>
<div class="button  finger8" style="" title="""><div>"</div></div>
<div class="button  special finger8" style="width: 2.35em;" title="Enter"><div>Enter</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div>LShift</div></div>
<div class="button  finger1" style="" title="_"><div>_</div></div>
<div class="button  finger1" style="" title="Z"><div>Z</div></div>
<div class="button  finger2" style="" title="X"><div>X</div></div>
<div class="button  finger3" style="" title="C"><div>C</div></div>
<div class="button  finger4" style="" title="V"><div>V</div></div>
<div class="button  finger4" style="" title="B"><div>B</div></div>
<div class="button  finger5" style="" title="K"><div>K</div></div>
<div class="button  finger5" style="" title="M"><div>M</div></div>
<div class="button  finger6" style="" title="&lt;"><div>&lt;</div></div>
<div class="button  finger7" style="" title="&gt;"><div>&gt;</div></div>
<div class="button  finger8" style="" title="?"><div>?</div></div>
<div class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCtrl</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LWin</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></div>
<div class="button  special finger9" style="width: 7.6em;" title="space"><div>space</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RAlt"><div>RAlt</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RWin</div></div>
<div class="button  finger8" style="width: 1.25em;" title="."><div>.</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCtrl</div></div></div>

<div><div style="float: left; clear: left;">&nbsp;</div>
<div style="float: left; clear: left;">&nbsp;</div>

<div class="button  deadkey" style="" title="~"><div>~</div></div>
<div class="button  finger1" style="" title="¡"><div>¡</div></div>
<div class="button  finger2" style="" title="º"><div>º</div></div>
<div class="button  finger3" style="" title="ª"><div>ª</div></div>
<div class="button  finger4" style="" title="¢"><div>¢</div></div>
<div class="button  finger4" style="" title="€"><div>€</div></div>
<div class="button  finger5" style="" title="ħ"><div>ħ</div></div>
<div class="button  finger5" style="" title="ð"><div>ð</div></div>
<div class="button  finger6" style="" title="þ"><div>þ</div></div>
<div class="button  finger7" style="" title="‘"><div>‘</div></div>
<div class="button  finger8" style="" title="’"><div>’</div></div>
<div class="button  finger8" style="" title="–"><div>–</div></div>
<div class="button  finger8" style="" title="×"><div>×</div></div>
<div class="button  special finger8" style="width: 2em;" title="BackSpace"><div>BackSpace</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.5em;" title="Tab"><div>Tab</div></div>
<div class="button  finger1" style="" title="ä"><div>ä</div></div>
<div class="button  finger2" style="" title="å"><div>å</div></div>
<div class="button  finger3" style="" title="ã"><div>ã</div></div>
<div class="button  finger4" style="" title="ø"><div>ø</div></div>
<div class="button  deadkey" style="" title="˛"><div>˛</div></div>
<div class="button  finger5" style="" title="đ"><div>đ</div></div>
<div class="button  finger5" style="" title="ł"><div>ł</div></div>
<div class="button  finger6" style="" title="ú"><div>ú</div></div>
<div class="button  finger7" style="" title="ü"><div>ü</div></div>
<div class="button  finger8" style="" title="ö"><div>ö</div></div>
<div class="button  finger8" style="" title="«"><div>«</div></div>
<div class="button  finger8" style="" title="»"><div>»</div></div>
<div class="button  deadkey" style="width: 1.5em;" title="*"><div>*</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.9em;" title="backspace"><div>backspace</div></div>
<div class="button  finger1" style="" title="á"><div>á</div></div>
<div class="button  deadkey" style="" title="`"><div>`</div></div>
<div class="button  finger3" style="" title="ß"><div>ß</div></div>
<div class="button  deadkey" style="" title="´"><div>´</div></div>
<div class="button  deadkey" style="" title="¨"><div>¨</div></div>
<div class="button  deadkey" style="" title="ˇ"><div>ˇ</div></div>
<div class="button  finger5" style="" title="ñ"><div>ñ</div></div>
<div class="button  finger6" style="" title="é"><div>é</div></div>
<div class="button  finger7" style="" title="í"><div>í</div></div>
<div class="button  finger8" style="" title="ó"><div>ó</div></div>
<div class="button  finger8" style="" title="õ"><div>õ</div></div>
<div class="button  special finger8" style="width: 2.35em;" title="Enter"><div>Enter</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div>LShift</div></div>
<div class="button  finger1" style="" title="–"><div>–</div></div>
<div class="button  finger1" style="" title="æ"><div>æ</div></div>
<div class="button  deadkey" style="" title="^"><div>^</div></div>
<div class="button  finger3" style="" title="ç"><div>ç</div></div>
<div class="button  finger4" style="" title="œ"><div>œ</div></div>
<div class="button  deadkey" style="" title="˘"><div>˘</div></div>
<div class="button  deadkey" style="" title="˚"><div>˚</div></div>
<div class="button  deadkey" style="" title="¯"><div>¯</div></div>
<div class="button  deadkey" style="" title="¸"><div>¸</div></div>
<div class="button  deadkey" style="" title="˙"><div>˙</div></div>
<div class="button  finger8" style="" title="¿"><div>¿</div></div>
<div class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCtrl</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LWin</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></div>
<div class="button  special finger9" style="width: 7.6em;" title="space"><div>space</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RAlt"><div>RAlt</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RWin</div></div>
<div class="button  finger8" style="width: 1.25em;" title=""><div></div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCtrl</div></div></div>

<div><div style="float: left; clear: left;">&nbsp;</div>
<div style="float: left; clear: left;">&nbsp;</div>

<div class="button  finger1" style="" title="~"><div>~</div></div>
<div class="button  finger1" style="" title="¹"><div>¹</div></div>
<div class="button  finger2" style="" title="²"><div>²</div></div>
<div class="button  finger3" style="" title="³"><div>³</div></div>
<div class="button  finger4" style="" title="£"><div>£</div></div>
<div class="button  finger4" style="" title="¥"><div>¥</div></div>
<div class="button  finger5" style="" title="Ħ"><div>Ħ</div></div>
<div class="button  finger5" style="" title="Ð"><div>Ð</div></div>
<div class="button  finger6" style="" title="Þ"><div>Þ</div></div>
<div class="button  finger7" style="" title="“"><div>“</div></div>
<div class="button  finger8" style="" title="”"><div>”</div></div>
<div class="button  finger8" style="" title="—"><div>—</div></div>
<div class="button  finger8" style="" title="÷"><div>÷</div></div>
<div class="button  special finger8" style="width: 2em;" title="BackSpace"><div>BackSpace</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.5em;" title="Tab"><div>Tab</div></div>
<div class="button  finger1" style="" title="Ä"><div>Ä</div></div>
<div class="button  finger2" style="" title="Å"><div>Å</div></div>
<div class="button  finger3" style="" title="Ã"><div>Ã</div></div>
<div class="button  finger4" style="" title="Ø"><div>Ø</div></div>
<div class="button  finger4" style="" title="~"><div>~</div></div>
<div class="button  finger5" style="" title="Đ"><div>Đ</div></div>
<div class="button  finger5" style="" title="Ł"><div>Ł</div></div>
<div class="button  finger6" style="" title="Ú"><div>Ú</div></div>
<div class="button  finger7" style="" title="Ü"><div>Ü</div></div>
<div class="button  finger8" style="" title="Ö"><div>Ö</div></div>
<div class="button  finger8" style="" title="‹"><div>‹</div></div>
<div class="button  finger8" style="" title="›"><div>›</div></div>
<div class="button  finger8" style="width: 1.5em;" title="~"><div>~</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  special finger1" style="width: 1.9em;" title="backspace"><div>backspace</div></div>
<div class="button  finger1" style="" title="Á"><div>Á</div></div>
<div class="button  finger2" style="" title="~"><div>~</div></div>
<div class="button  finger3" style="" title="~"><div>~</div></div>
<div class="button  deadkey" style="" title="˝"><div>˝</div></div>
<div class="button  finger4" style="" title="~"><div>~</div></div>
<div class="button  finger5" style="" title="~"><div>~</div></div>
<div class="button  finger5" style="" title="Ñ"><div>Ñ</div></div>
<div class="button  finger6" style="" title="É"><div>É</div></div>
<div class="button  finger7" style="" title="Í"><div>Í</div></div>
<div class="button  finger8" style="" title="Ó"><div>Ó</div></div>
<div class="button  finger8" style="" title="Õ"><div>Õ</div></div>
<div class="button  special finger8" style="width: 2.35em;" title="Enter"><div>Enter</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LShift"><div>LShift</div></div>
<div class="button  finger1" style="" title="—"><div>—</div></div>
<div class="button  finger1" style="" title="Æ"><div>Æ</div></div>
<div class="button  finger2" style="" title="~"><div>~</div></div>
<div class="button  finger3" style="" title="Ç"><div>Ç</div></div>
<div class="button  finger4" style="" title="Œ"><div>Œ</div></div>
<div class="button  finger4" style="" title="~"><div>~</div></div>
<div class="button  finger5" style="" title="~"><div>~</div></div>
<div class="button  finger5" style="" title="~"><div>~</div></div>
<div class="button  finger6" style="" title="~"><div>~</div></div>
<div class="button  finger7" style="" title="~"><div>~</div></div>
<div class="button  finger8" style="" title="~"><div>~</div></div>
<div class="button  modifier finger8" style="width: 3em;" title="RShift"><div>RShift</div></div><div style="float: left; clear: left;">&nbsp;</div>

<div class="button  modifier finger1" style="width: 1.25em;" title="LCtrl"><div>LCtrl</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LWin"><div>LWin</div></div>
<div class="button  modifier finger1" style="width: 1.25em;" title="LAlt"><div>LAlt</div></div>
<div class="button  finger9" style="width: 7.6em;" title=" "><div> </div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RAlt"><div>RAlt</div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RWin"><div>RWin</div></div>
<div class="button  finger8" style="width: 1.25em;" title=""><div></div></div>
<div class="button  modifier finger8" style="width: 1.25em;" title="RCtrl"><div>RCtrl</div></div></div>


</body>
</html>
